span {
    padding: 10px 7px;
    h1 {
        font-size: 17px;
        margin: 0;

    }
}

p {
    i {
        font-size: 13px;
    }
}

.karta {
    transition: box-shadow .3s, padding .3s, filter 0.3s;
    filter: opacity(0.85);
}

.karta:hover { 
    box-shadow: -1px 0px 56px -6px rgba(0,0,0,0.27);
    filter: opacity(1);
    // padding: 2px;
    
}