
@import '../common/base';


h1 {
    font-family: $main;
    text-transform: uppercase;
    letter-spacing: .05em;
    // text-shadow: 1px 0px 0px rgba(150, 150, 150, 1);
}

.container h2 {
    font-family: $main;
    font-family: 2.5em!important;
}

.navbar img {
    width: 100px;    
}

.jumbotron {
    background: url('/img/counter.jpg');
    background-size: cover;
    height: 80vh;
}

.gen-info {
    margin-bottom: -40px;
}

.map {
    height: 70vh;
    background: url('/img/map.png');
    position: relative;
    bottom: -80px;
}

footer .navbar {
    margin-top: 50%;
}