
@import '../common/base';

body {
    height: 100%;
    padding-bottom: 0px;
    margin: 0;
}

h1 {
    font-family: $main;
    text-transform: uppercase;
    letter-spacing: .05em;
}


.gen-info p {
    font-family: $secondary;
    
    .details {
        text-transform: capitalize;
    }
}
.container h2 {
    font-family: $main;
    font-family: 2.5em!important;
}

.jumbotron {
    background: url('../img/counter.jpg');
    background-size: cover;
    height: 80vh;
}

.gen-info {
    margin-bottom: -40px;
}

// .map {
//     height: 50vh;
//     background: url('/img/map.png');
//     position: relative;
//     bottom: -100px;
// }

.map-web {
    // margin-top: 3em;
    @include tablet {
        position: relative;
        bottom: -5rem;
        z-index: 2;
    }
}
