@import './common/base';

footer {
    @include tablet {
        height: 50vh;
    }
    height: 15vh;
    // margin-top: 22vh;
    background: $footer;
    // padding-top: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer-low {
        @include tablet {
            margin-bottom: 35%;
        }
        margin: auto auto;
    }
    nav {
        @include tablet {
            margin-top: .3em;
            font-size: .9em;
            width: 90%;
        }
        
        
        
    }

    h4 {
        @include mobile {
            font-size: 1em;
            // color: red;
        }
    }
    h5 {
        @include mobile {
            font-size: .6em;   
        }
        color: #fff;
        font-family: $secondary;
        font-size: .8em;
    }

    
}