@import './common/base';

nav {

    .nav-link {
        @include mobile {
            padding: .2em!important;
        }
    }

    a {
        font-family: $secondary;
        color: $nav_Links;
    }

}

a:active {
    color: red;
    
}