@import './common/base';

// common styles 

h1 {
    font-family: $main;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: black;
}

nav {
    

    .nav-link {
        @include mobile {
            padding: .2em!important;
        }
    }

    a {
        font-family: $secondary;
        color: $nav_Links;
        margin-right: 0!important;
    }

    img {
        text-align: center;
        width: 100px;
        @include tablet {
            display: block;
            margin: auto;
        }
    }

}



a:active {
    // color: red;
    
}

// footer {
//     height: 35vh;
//     background: $footer;
//     padding-top: 80px;

//     h5 {
//         color: #fff;
//         font-family: $secondary;
//         font-size: .8em;
//     }

    
// }

