@import './common/base';

nav {

    .nav-link {
        @include mobile {
            padding: .2em!important;
        }
    }

    a {
        font-family: $secondary;
        color: $nav_Links;
    }

}

a:active {
    color: red;
    
}

footer {
    height: 35vh;
    background: $footer;
    padding-bottom: 80px;

    h5 {
        color: #fff;
        font-family: $secondary;
        font-size: .5em;
    }

    
}